version: "3.8"

services:
  caddy:
    image: caddy:2-alpine
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - {{ caddy_data_dir }}:/data
      - {{ caddy_config_dir }}:/config
    networks:
      - services

networks:
  services:
    external: true
