---
- name: Install restic
  apt:
    name: restic
    state: present
  when: backup_enabled

- name: Create backup script directory
  file:
    path: /opt/backup
    state: directory
    mode: '0700'
  when: backup_enabled

- name: Create backup script
  template:
    src: backup.sh.j2
    dest: /opt/backup/backup.sh
    mode: '0700'
  when: backup_enabled

- name: Create restic password file
  copy:
    content: "{{ backup_password }}"
    dest: /opt/backup/.restic-password
    mode: '0600'
  when: backup_enabled and backup_password != ""
  no_log: true

- name: Setup backup cron job
  cron:
    name: "Restic backup"
    job: "/opt/backup/backup.sh >> /var/log/backup.log 2>&1"
    minute: "{{ backup_schedule.split()[0] }}"
    hour: "{{ backup_schedule.split()[1] }}"
    day: "{{ backup_schedule.split()[2] }}"
    month: "{{ backup_schedule.split()[3] }}"
    weekday: "{{ backup_schedule.split()[4] }}"
  when: backup_enabled and backup_repository != ""
